*{
    margin: 0px;
}
.wrapper{
    width: 100%;
}
.sidebar{
    width: 270px;
    height: 100vh;
    box-shadow: 0px 0px 10px rgb(212, 212, 221);
    position: fixed;
}
.horizontal-bar{
    width: calc(100% - 270px);
    height: 65px;
    box-shadow: 0px 0px 0px rgb(188, 188, 197);
    position: fixed;
    z-index: 1;
}
.page-content{
    width: calc(100% - 270px);
    position: absolute;
    left: 270px;
    
}
.actual-content{
    height: calc(100% - 65px);
    padding: 20px;
    position: relative;
    top: 65px;
    /* background-color: rgb(245, 222, 18); */
}
.topline{
    height: 65px;
}
.topicon{
    width: 40px;
}
.topleftarrow{
    width: 15%;
    height: 90%;
    margin-left: 70px;
}
.toprightarrow:hover{
    cursor: pointer;
}
.topleftarrow:hover{
    cursor: pointer;
    background-color: #afd2fa;
}
.bg-blue{
    background-color: rgb(35, 35, 196);
}
.ulist{
    list-style-type: none;
    padding: 0px;
}
li:hover {
    cursor: pointer;
    background-color: #d3d3d3;
    color: rgb(3, 20, 248);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
