*{
    margin: 0px;
}
.wrapper{
    width: 100%;
}
.sidebar{
    width: 270px;
    height: 100vh;
    box-shadow: 0px 0px 10px rgb(212, 212, 221);
}
.page-content{
    width: calc(100% - 270px);
}
.horizontal-bar{
    width: 100%;
    height: 65px;
    box-shadow: 0px 0px 0px rgb(188, 188, 197);
    box-shadow: 5px 3px 8px #888888;
}
.actual-content{
    width: 100%;
    height: calc(100vh - 140px);
    padding: 20px;
    box-shadow: 0 0 5px #d3d3d3;
}


/* Profiles horizontal menu CSS */

.profile-menu{
    height: 75px;
    box-shadow: 5px 3px 8px #888888;
}
.leftprofile{
    width: 30%;
    position: relative;
}
.rightprofile{
    width: 55%;
}
.leftimage{
    height: 55px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
}
.jobsimage{
    width: 40px;
    height: 40px;
}
.proftoptext{
    font-weight: 500;
    font-size: x-large;
    color: rgb(16, 125, 189);
}
.profbottomtext{
    font-size: medium;
    position: absolute;
    bottom: 10px;
    color: rgb(84, 65, 151);
}
.profiletext{
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.right-profile-button{
    border: 1px solid black;
    border-radius: 5px;
}
.right-profile-button:active{
    background-color: rgb(18, 111, 197);
}
.profiletext{
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
}


/* Side-bar CSS */


.topline{
    height: 65px;
}
.topicon{
    width: 40px;
}
.topleftarrow{
    width: 15%;
    height: 90%;
    margin-left: 70px;
}
.toprightarrow:hover{
    cursor: pointer;
}
.topleftarrow:hover{
    cursor: pointer;
    background-color: #1f79df;
}
.bg-blue{
    background-color: rgb(35, 35, 196);
}
.bg-blue1{
    background-color: rgb(33, 33, 228);
}
.ulist{
    list-style-type: none;
    padding: 0px;
}
li:hover {
    cursor: pointer;
    background-color: #d3d3d3;
    color: rgb(3, 20, 248);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


/* Main content CSS */



.profile-details{
    height: 100%;
    overflow-y: auto;
    box-shadow: 0px 0px 5px #d3d3d3;
}
.input-section{
    width: 35%;
    height: 100%;
    overflow-y: auto;
}
.right-section{
    width: 65%;
    height: 100%;
    overflow-y: auto;
}
.profile-inputs{
    border: none;
    outline: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #b8b8b8;
}
::placeholder {
    font-weight: 100;
}
.right-section text{
    color: rgb(109, 105, 105);
    font-size: 22px;
    font-weight: 550;
}

.hide{
    display: none;
}



/* CSS for Job details section */

.jobdetails-section{
    width: 90%;
    height: fit-content;
}
.job-details{
    width: 95%;
}


/* CSS for comments section */


.comments-section{
    width: 90%;
    margin-left: 50px;
}
.right-section hr{
    margin: 0px!important ;
    border: 1px solid black;
}
.each-comment{
    width: 100%;
}
.left-comments{
    width: 35%;
}
.right-comments{
    width: 50%;
}
.verticalline{
    height: calc(100% + 10px);
    border-left: 3px solid #989898;
}

